/* html {
background-image: url(background-in-the-company-of-humans.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: top;
min-height: 100%;
} */


html { 
    background: url(background-in-the-company-of-humans.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}